.container {
  height: auto;
  min-height: 100%;
  width: 80%;
}

.product {
  @include flex-column();

  align-items: center;
  padding: 2rem 0;
  width: 100%;

  .cover-and-data {
    @include flex-default();

    align-items: flex-start;
    width: 100%;

    .cover {
      text-align: center;
      width: calc(70% - 2rem);

      img {
        max-width: rem(680px);
        object-fit: cover;
      }
    }

    .data {
      width: calc(30% - 2rem);

      > div {
        padding-bottom: 2rem;
      }

      .condition {
        font-size: $font-size-small;
        padding-bottom: 1rem;
      }

      .name {
        font-size: $font-size-medium;
      }
    }

    @media (max-width: 1023px) {
      @include flex-column();

      padding-top: 0;

      .data,
      .cover {
        width: 100%;

        > div {
          padding-left: 2rem;
          padding-right: 2rem;
        }

        > button {
          margin-left: 2rem;
          width: calc(100% - 4rem);
        }
      }
    }
  }

  .cover-and-data .price strong {
    display: inline-block;
  }

  .description {
    margin-top: 6rem;
    width: calc(100% - 4rem);

    span {
      font-size: $font-size-extra-medium;
    }

    p {
      margin-top: 2rem;
      white-space: pre-line;
      width: 70%;
    }
  }
}
