@mixin flex-default() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin v-scroll() {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

@mixin h-scroll() {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
