$font-family: Helvetica, Arial, sans-serif;

/* Colors
-------------------------- */
$color-white: #ffffff;
$color-primary: #ffe600;
$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-text-placeholder: #999999;
$background-color: #eeeeee;
$background-color-button: #3483fa;

/* Font Sizes
----------------------------- */
$font-size-small: rem(14px);
$font-size-base: 1rem;
$font-size-almost-medium: rem(24px);
$font-size-medium: rem(28px);
$font-size-large: 2rem;
$font-size-extra-large: rem(46px);
