$font-family: Helvetica, Arial, sans-serif;

/* Colors
-------------------------- */
$color-white: #ffffff;
$color-primary: #ffe600;
$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-text-placeholder: #999999;
$background-color: #eeeeee;
