html {
  font-size: $rem-baseline;
  height: 100%;
}

body {
  color: $color-text-primary;
  font-family: $font-family;
  font-size: 1rem;
  height: 100%;

  > div {
    height: 100%;
  }
}

main {
  @include flex-column();

  align-items: center;
  background-color: $background-color;
  height: 100%;
  width: 100%;
}

@media (min-width: 481px) {
  ::-webkit-scrollbar {
    width: rem(6px);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(134, 134, 134, .5);
    border-radius: rem(4px);
  }
}
