.card {
  padding: 1rem;
  width: 100%;

  img {
    border-radius: rem(4px);
    height: rem(180px);
    width: rem(180px);
  }

  .data {
    padding-right: 1rem;
    width: calc(100% - 180px);

    .price-and-title {
      .price {
        font-size: 1.5rem;
        margin-bottom: rem(32px);
      }

      .title {
        font-size: rem(18px);
      }
    }
  }
}
