.card {
  @include flex-default();

  cursor: pointer;
  padding: 1rem 0;
  width: 100%;

  img {
    border-radius: rem(4px);
    height: rem(180px);
    object-fit: contain;
    width: rem(180px);
  }

  .data {
    display: flex;
    height: rem(180px);
    justify-content: flex-start;
    padding: 2rem 0 0 1rem;
    width: calc(100% - 180px);

    .price-and-title {
      width: 90%;

      .price {
        @include flex-default();

        font-size: 1.5rem;
        justify-content: flex-start;
        margin-bottom: 1.5rem;
      }

      .title {
        font-size: rem(18px);
        padding-right: 1rem;
      }

      img {
        height: rem(18px);
        margin-left: .5rem;
        width: rem(18px);
      }
    }

    .state {
      font-size: rem(12px);
    }
  }
}
