{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines"
  ],
  "plugins": [
    'stylelint-config-primer/plugins/no-unused-vars'
  ],
  "rules": {
    "indentation": 2,
    "max-empty-lines": 2,
    "block-no-empty": true,
    "string-quotes": "single",
    "function-url-quotes": "always",
    "color-named": "never",
    "color-hex-length": "long",
    "at-rule-blacklist": ["debug"],
    "unit-whitelist": ["px", "rem", "%", "s", "deg", "vw", "vh"],
    "declaration-colon-newline-after": "always-multi-line",
    "font-family-name-quotes": "always-where-required",
    "number-leading-zero": "never",
    "value-list-comma-newline-after": null,
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 4,
    "scss/dollar-variable-pattern": "^[_]?[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/selector-no-redundant-nesting-selector": true
  }
}
