.container {
  color: $color-text-secondary;
  font-size: $font-size-small;
  padding: 1rem 0;
  width: 100%;

  span {
    svg {
      display: inline-block;
      fill: $color-text-secondary;
      height: 1rem;
      vertical-align: middle;
      width: 1rem;
    }
  }
}
