.header {
  @include flex-default();

  background-color: $color-primary;
  padding: rem(10px) 0;
  width: 100%;

  .container {
    @include flex-default();

    width: 80%;

    .logo {
      display: flex;
      margin: 0 rem(25px) 0 0;

      figure {
        margin: 0;
      }
    }
  }
}
