$font-size-input: rem(18px);

.input {
  &[type='text'] {
    @extend %box-shaddow-default;

    background-color: $color-white;
    border: 0;
    border-radius: rem(2px);
    font-family: $font-family;
    font-size: $font-size-input;
    outline: 0;
    padding: rem(8px);
    width: 100%;

    &::placeholder {
      color: $color-text-placeholder;
      font-size: $font-size-input;
    }
  }
}
