.button {
  background-color: $background-color-button;
  border: 0;
  border-radius: .2rem;
  color: $color-white;
  cursor: pointer;
  font-size: $font-size-base - rem(1px);
  padding: .5rem;
  width: 100%;
}
